@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,900');
@import url('https://fonts.googleapis.com/css?family=Caveat');

html,
#app {
    height: 100%;
}

.container {
    /*this at 100% fixes it*/
    /*height: auto;*/
    /*position: relative;*/
    /*max-width: 960px;*/
    padding-top: 2%;
}

.centerContainer{
    /*this at 100% fixes it*/
    height: auto;
    position: relative;
    max-width: 960px;
    padding-top: 2%;
}

.navBarRow2{
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 3rem;
}
.navBarRow3{
    
    text-align: center;
}

.titles{
    border-bottom: 1px solid #505050;
}
.divider{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #A0A0A0;
}


.bold{
    font-family: 'Nunito Sans', sans-serif;
    color: dimgrey;
    font-weight: bold;
    text-align: center;
    font-size: 4.5rem;
    text-decoration: none;
}
.bold:hover, .active{
    color: black;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    transform: scale(1.05);
}

.bold >.script {
    font-size: 1.5rem;
    
}

.nav__button{
    color: dimgrey;
    text-transform: uppercase;
}



.nav__button:hover{
    color: black;
    font-weight: bold;
    background-color: white;
    /*zoom: 110%;*/
}

.portBox>img{
    width:100%;
    height: auto;
}
.imageLink:hover{
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
}


.bold2{
    display: inline-block;
    color: dimgrey;
    font-weight: bold;
    font-size: 3rem;
    width:100%;
    text-align:center;
    padding-top: 60px;
    
}
.bold2:hover{
    color: black;
    cursor: pointer;
    transform: scale(1.15);
   
}

.bold3{
    display: inline-block;
    color: #404040;
    font-weight: bold;
    font-size: 3rem;
    width:100%;
    text-align:center;
}
.bold3:hover{
    color: #404040;
}

/*App Links*/
.bold4{
    display: inline-block;
    color: dimgrey;
    font-weight: bold;
    font-size: 2.4rem;
    width:100%;
    padding-top: 5%;
    text-align:center;
    text-decoration: none;
    
}
.bold4:hover{
    color: black;
    cursor: pointer;
    transform: scale(1.15);
    text-decoration: none;
   
}

.desc{
    display:inline-block;
    color: black;
    text-align: left;

}
.descT{
    display:inline-block;
    color: black;
    text-align: left;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  /*width: 100%;*/
  padding: 1rem;
  color: dimgrey;
  height: 20px;
  font-size: 80%;
  margin-top: 40px;
  border-top: 1px solid lightgrey;

}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.imgFooter{
    height:20px;
    padding-left: 5px;
    float: right;
}

.imgFooter:hover{
    cursor: pointer;
}

.topSpace{
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
    font-size: 1.8rem;
}
.contactMe{
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: justify;
    margin-left: 15%;
}


/*Media Queries*/
/* font for links to pages*/

@media screen and (max-width: 850px) and (min-width: 550px) {
    .bold2, bold3 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 549px) {
    .bold2, bold3 {
        font-size: 4rem;
    }
    .descT{
        font-weight: bold;
        font-style: italic;
    }
    .navBarRow2{
    font-size: 2rem;
}
}

@media screen and (max-width: 850px) {
    .titles {
        display: none;
    }
}